<div class="wrapper-parties">

<% array = ["https://kitt.lewagon.com/placeholder/cities/london", "https://kitt.lewagon.com/placeholder/cities/barcelona", "https://kitt.lewagon.com/placeholder/cities/berlin", "https://kitt.lewagon.com/placeholder/cities/paris"] %>

    <% @parties.each do |party| %>
      <div class="card-party" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 50%),url(<%=array.sample%>)">

          <h2 class ="card-party-title"><%=  party.title %></h2>
          <div class="card-party-capacity">
          <h1 class= "capacity-number"> <%= party.capacity %></h1>
          <h5 class="capacity-spots"> spots remaining</h5>
          </div>

          <h5 class ="card-party-music">theme: <strong><%= party.music_type %> </strong> </h5>
        <div class="btn-danger">
         </div>

      </div>
  <% end %>

</div>
