// Specific CSS for your home-page
// Import page-specific CSS files here.

.wrapper-white {
background-color: white;
display: flex;
flex-direction: row;
}
.card-party {
background-color: rgb(220,220, 220);
border-style: solid;
border-width: 1px;
width: 500px;
margin: 50px;
}
