.wrapper-parties {
display: flex;
flex-direction: row;
  margin-top: 150px;
}

.wrapper-shared {
  height: 100vh;
}

.message-white {
  color: white;
  letter-spacing: 10px;

}

.banner-content {
  text-align: center;
  margin-top: 0px;
  h1{
  padding-top: 100px;
  margin-top:0px;
  }
}
.banner-home {
  height:100vh;
  background-size: cover;
}

