// Import page-specific CSS files here.
@import "home";
.wrapper-white {
background-color: white;
display: flex;
flex-direction: column;
}
.card-party {
background-color: rgb(220,220, 220);
border-style: solid;
border-width: 1px;
}
