<<<<<<< HEAD

=======
>>>>>>> 79cb45eab741a66abc596494251f78fac11994ae
.container-party, .wrapper-parties, .show-card-header{
  display: flex;
  flex-direction: row;
}
<<<<<<< HEAD

=======
>>>>>>> 79cb45eab741a66abc596494251f78fac11994ae
.avatar-group {
  display: flex;
    flex-direction: column;
    position: absolute;
    top:0px;
    right:5px;
}
<<<<<<< HEAD

=======
>>>>>>> 79cb45eab741a66abc596494251f78fac11994ae
.host-choice {
 display: flex;
 flex-direction: row;
 margin-left:20px;
 padding: 0px 20px;
}
.demand-box {
  background-color: white;
  padding:15px;
    display: flex;
    flex-direction: column;
box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
     box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
.btn-choice{
margin-left:10px;
}
    h3{
margin-top:10px;
    }
<<<<<<< HEAD

=======
>>>>>>> 79cb45eab741a66abc596494251f78fac11994ae
    li{
      list-style-type: none;
      align-items:center;
    }
}
<<<<<<< HEAD

=======
>>>>>>> 79cb45eab741a66abc596494251f78fac11994ae
.host-message {
  position:relative;
  top : 20px;
    margin-bottom: 244px;
}
.show-card{
height: 25vh;
position: relative;
<<<<<<< HEAD

}

.show-card-title{
padding-left:10px;
=======
}
.show-card-title{
padding-left:10px;
}
.show-card-body {
  color: rgb(100,100,100);
  display: flex;
  flex-direction: row;
  h5{
padding: 10px;
  }
  position: absolute;
  font-weight:100;
  margin-bottom: 10px;
}
.fa-map-marker, .fa-music, .fa-users {
padding-left:20px;
>>>>>>> 79cb45eab741a66abc596494251f78fac11994ae
}

.show-card-body {
  color: rgb(100,100,100);
  display: flex;
  flex-direction: row;
  h5{
padding: 10px;
  }
  position: absolute;
  font-weight:100;
  margin-bottom: 10px;
}

.fa-map-marker, .fa-music, .fa-users {
padding-left:20px;
}

.just-booked{
  background-color: red;
}
.show-avatar {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-top:5px;
  padding-right:0px;
<<<<<<< HEAD

}

.avatar-name{
color: rgb(100,100,100);
font-size:12px;
}
.avatar-text{
  margin-left:30px;
}

=======
}
.avatar-name{
color: rgb(100,100,100);
font-size:12px;
}
.avatar-text{
  margin-left:30px;
}
>>>>>>> 79cb45eab741a66abc596494251f78fac11994ae
.container-party {
    height:40vh;
    justify-content: space-around;
    // padding-right:200px;
  .new-booking{
border-style: solid;
border-width:1px;
<<<<<<< HEAD

  }
}














=======
  }
}
>>>>>>> 79cb45eab741a66abc596494251f78fac11994ae
.banner-party{
  height: 50vh;
  background-position:center;
      background-size: cover !important;
      text-align: center;
}
.party-title {
padding-top: 100px;
margin-top:0px;
    color: white;
}
.container-party{
    justify-content: space-around;
align-items: center;
}
<<<<<<< HEAD

=======
>>>>>>> 79cb45eab741a66abc596494251f78fac11994ae
.avatar {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-top:15px;
}
<<<<<<< HEAD



=======
>>>>>>> 79cb45eab741a66abc596494251f78fac11994ae
.banner-content{
  height:100vh;
}
.container-details{
  background-color: white;
      box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
  width: 400px;
    display: flex;
  flex-direction: column;
border-style: solid;
border-width: 1px;
border-color: rgb(220,220,200);
padding:0px;
<<<<<<< HEAD
=======
}

.dashboard-container{
  height:100vh;
>>>>>>> 79cb45eab741a66abc596494251f78fac11994ae
}
