.dashboard-group {
  font-size:30px;
}

.dashboard-choice {
    font-size: 30px;
    margin:5px;
    margin-left: 45px;
  color:white;
}

.fa-times{
  color: #C02727;
  position: absolute;
      top: 10px;
    right: -29px;
}

.dashboard-container {
  text-align: center;
  margin-top:20px;
  padding-left:170px;
    background-size: cover;
background-image: linear-gradient(to bottom left, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(https://static.pexels.com/photos/2143/lights-party-dancing-music.jpg);

  #capacity-number{
  color:black;
  font-size:20px;
  }

 a{
color: rgba(0,0,0,0.8);
  text-decoration: none;
  }

  .card-party{
margin-left: 20px;
  }

}

.booking-side, .hosting-side {
      margin-right: 50px;
    margin-left: 50px;
    padding-left: 0px;
        padding-right: 39px;

    ul{
padding-left:0px;
    }
  }
.booking-side {
  // background-color:#253B6E
;
}

.hosting-side {
  // background-color:#560764
;
}
.dashboard-header{
display: flex;
flex-direction: row;
justify-content: space-around;

}
