// .main-container{
//   display: flex;
// }

.content {
  display: flex;
}

.card-container{
  width: 100%;

  .card-party{
    margin: 20px 0px;
  }
}

// .row {
//     margin-right: -15px;
//     margin-left: -15px;
// }


#map {
  flex: 0 0 450px;
  height: 100vh;
  // width: 450px;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
}
// .map-container {
//   flex: 0 0 520px;
//   position: sticky !important; /* !important to override Gmaps inline CSS */
//   top: 0;
//   position: relative;
//   overflow: hidden;
// }

// #map {
//   height: 100vh;
//   flex: 0 0 450px;
//   top: 0;
//   position: sticky !important; /* !important to override Gmaps inline CSS */

// }

// .result-container {
//   // flex: 1;
//   margin: 0px;
//   padding: 2px;
// }
