<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h1>Your bookings</h1>
        <ul>
          <% @bookings.each do |booking| %>
            <li>
              <%= link_to booking.party.title, party_path(booking.party)
               %>
               <img src="../../assets/images/houseparty1.jpg" alt="">
               <%= link_to "Annuler votre réservation", booking_path(booking), method: :delete, data: {confirm: "Êtes-vous sûrs de vouloir annuler votre réservation?"} %>
            </li>
          <% end %>
        </ul>
    </div>
    <div class="col-xs-6"">
      <h1> Your hosted parties </h1>
        <ul>
          <% @user.parties.each do |party| %>
            <li>
              <%= link_to party.title, party_path(party) %>
              <%= link_to "Annuler votre soirée", party_path(party), method: :delete, data: { confirm: "Êtes vous sûrs de vouloir annuler votre soirée?"} %>
            </li>
          <% end %>
      </ul>
    </div>
  </div>
</div>

