<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h1>Your bookings</h1>
        <ul>
          <% @bookings.each do |booking| %>
            <li>
              <%= link_to booking.party.title, party_path(booking.party)
               %>
               <img src="../../assets/images/houseparty1.jpg" alt="">
            </li>
          <% end %>
        </ul>
    </div>
    <div class="col-xs-6"">
      <h1> Your hosted parties </h1>
        <ul>
          <% @user.parties.each do |party| %>
            <li>
              <%= link_to party.title, party_path(party) %>
            </li>
          <% end %>
        </ul>
    </div>
</div>

