
<h1>Your bookings</h1>

<ul>
  <% @bookings.each do |booking| %>
    <li>
      <%= link_to booking.party.title, party_path(booking.party) %>
    </li>
  <% end %>
</ul>


<h1> Your hosted parties </h1>

<ul>
  <% @user.parties.each do |party| %>
    <li>
      <%= link_to party.title, party_path(party) %>
    </li>
  <% end %>
</ul>


