
<div class="banner-home" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://cecietantdit.files.wordpress.com/2012/03/project-x-image-25.jpg');">
  <div class="banner-content">
      <%= render 'shared/flashes' %>
    <h1 class = "message" >BOOK A HOUSE PARTY</h1>

  <div class="container" id="home-flats">
    <h2 class="message">Parties near you</h2>

    <div class="wrapper-parties">
      <% @parties.each do |party| %>
        <div class="card-party">
          <h2><%=  party.title %></h2>
          <p>
          <h5><%= party.capacity %> people wanted!</h5>
          <h5 card-description>music type: <%= party.music_type %> </h5>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>

</div>
