
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://i.ytimg.com/vi/RfO0kqFL-9A/maxresdefault.jpg');">
  <div class="banner-content">
    <h1>BOOK A HOSE PARTY</h1>
<!--     <p>Enjoy your stay in Berlin</p>
 -->  </div>
</div>
<div class="container" id="home-flats">
  <h2 class="text-center">Parties near you</h2>

<div class="wrapper-white">
  <% @parties.each do |party| %>
    <div class="card-party">
      <h3><%=  party.title %></h3>
      <h5><%= party.capacity %> people wanted!</h5>
      <h5>music type: <%= party.music_type %> </h5>
    </div>
  <% end %>
</div>



</div>
