.card-party {
border-style: solid;
border-radius: 4px;
height: 30vh;
color: white;
padding: 0px;
margin:5px;
text-align:center;
font-size: 20px;
background-size: cover;
display: flex;
flex-direction: column;
width:100%;
align-items: center;
text-decoration: none;
list-style-type: none;
position: relative;
border-color: white;
    background-color: rgba(255,255,255,0.3);
border-width:1px;
  border-bottom: 0 none;
  box-shadow: 0 1px 5px white;
  &:hover {
  background-color: #18587A
;
  }
}

.card-party-title {
      a{
        color: rgba(255,255,255,0.6);
        text-decoration:none;
       }

    position: absolute;
    font-weight: bolder;
    top: 5px;
    left: 5px;
    margin-top: 0px;
    font-size: 20px;
}

.fa-times {
  padding-left:10px;
  margin-top: 0px;
  padding-top: 0px;
  font-size: 30px;
}

    #capacity-number{
      color: rgba(255,255,255,0.5);
      height:60px;
      width:60px;
        padding-top: 12px;
    margin-top: 60px;
    margin-bottom:0px;
      font-weight: lighter;
      border-style: solid;
      border-width: 1px;
      border-radius: 50%;
    font-size: 30px;

    }

.capacity-spots{
      padding: 0px;
    margin: 0px;
  opacity:0.5;
    font-size: 14px;
  }

.card-party-music {
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin-top: 0px;
    color: rgba(255,255,255,0.7);
font-size: 20px;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
  &:hover {
  opacity: 0.1;
}
}

.alert {
  display: none;
}

.notice {
  display: none;
}
