    .container-form{
    background-image: url(https://static.pexels.com/photos/341858/pexels-photo-341858.jpeg);
    color: white;
    background-color: black;
    background-size: cover;
    text-align: center;
.form-control{
  background-color: rgba(255,255,255,0.2)
}

.new-party-primary{

}
    }
